<div class="active-banner-js">

  <%= render './shared/home_banner' %>




<%= cl_image_tag("banner_cocktails",
      width: 400, height: 300, crop: :fill) %>
  <% 100.times do %>
    <p>Hello</p>
  <% end %>



</div>
