<div class="container">
  <h1>All the cocktails</h1>



  <div class="row">
    <ul class="list-unstyled">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <li>
            <div class="card" style="background-image: url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="cocktail-delete"><%= link_to 'Delete', cocktail_path(cocktail), method: :delete %></div>
              <div class="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-center" %></div>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>



   <%#= render './shared/create_cocktail_modal' %>


  <%= link_to 'Create a cocktail', new_cocktail_path %>

</div>

